.charsheet section#page-competences
    &> div#caracs
        display: flex
        flex-direction: row
        &> div.skillblock
            display: flex
            width: 25%
            flex-direction: column
    &> div#freeskills
        margin-top: 15px
        display: flex
        flex-direction: row
        width: 100%

        &> #occultisme > input[type=text]
            background: none
            border: none
            border-bottom: dotted black 1px
            border-radius: 0
            width: 100%