.charsheet
    div#swordbar
        display: flex
        width: 100px
        height: 100%
        float: left
        flex-direction: column
        padding: 20px 15px
        border-right: dotted 1px $emblue